/**
 * @file
 * Typography element
 *
 * Text elements.
 */

/**
* @group Basic elements
*/
html {
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: transparent;
  font-size: 62.5%; // 1rem = 10px; 10px/16px = 62.5%
}

body {
  color: $body-font-color;
  background-color: $body-background;
  font-size: $global-font-size;
  line-height: $global-lineheight;
  word-wrap: break-word;
}

::selection {
  background-color: $color-brand;
  color: white;
}

a {
  text-decoration: none;
  color: $color-primary;

  &:hover {
    color: darken($color-primary, 15%);
  }
}

p {
  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

ol,
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
